.error-icon {
    font-size: 40px;
    /* animation: blink 1s infinite; */
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 25pt;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
