body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('039a68a4c2cc9437c2f41fd10a2a7d89.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  background-attachment: fixed; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh
}
